#ifndef DockFocusControllerH
#define DockFocusControllerH
//============================================================================
/// \file   DockFocusController.h
/// \author Uwe Kindler
/// \date   05.06.2020
/// \brief  Declaration of CDockFocusController class
//============================================================================

//============================================================================
//                                   INCLUDES
//============================================================================
#include <QObject>
#include "ads_globals.h"
#include "DockManager.h"

namespace ads
{
struct DockFocusControllerPrivate;
class CDockManager;
class CFloatingDockContainer;


class ADS_EXPORT CDockFocusController : public QObject
{
	Q_OBJECT
private:
	DockFocusControllerPrivate* d; ///< private data (pimpl)
    friend struct DockFocusControllerPrivate;

public:
    using Super = QObject;

    CDockFocusController(CDockManager* DockManager);
    virtual ~CDockFocusController();

	//事件响应槽函数
private Q_SLOTS:
    void onApplicationFocusChanged(QWidget* old, QWidget* now);
    void onFocusWindowChanged(QWindow* focusWindow);
    void onStateRestored();
	void onFocusedDockAreaViewToggled(bool Open);
	void onDockWidgetVisibilityChanged(bool Visible);

	//公开接口函数
public Q_SLOTS:
    void setDockWidgetFocused(CDockWidget* focusedNow);
public:
    void setDockWidgetTabFocused(CDockWidgetTab* Tab);
    void clearDockWidgetFocus(CDockWidget* dockWidget);
    void setDockWidgetTabPressed(bool Value);
    CDockWidget* focusedDockWidget() const;
    CDockAreaWidget* focusedDockArea() const;

	//特殊场景处理
    void notifyWidgetOrAreaRelocation(QWidget* RelocatedWidget);
    void notifyFloatingWidgetDrop(CFloatingDockContainer* FloatingWidget);


}; // class DockFocusController
}
 // namespace ads
//-----------------------------------------------------------------------------
#endif // DockFocusControllerH

