@import "../PublicLess/Common.less";



QtExControl--QtExRingProgressBar 
{
    qproperty-m_progressColor: @--Info-Color;
    qproperty-m_progressBackgroundColor: @Neutral3;
}
QtExControl--QtExRingProgressBar QLabel
{
    font-size: 18px;
    color: @Neutral9;
}



QtExControl--QtExLinearProgressBar
{
    qproperty-m_progressColor: @--Info-Color;
    qproperty-m_progressBackgroundColor: @Neutral3;
}

QtExControl--QtExLinearProgressBar QtExControl--QtExLabel#textLabel
{
    font-size: 14px;
    color: @Neutral9;
    line-height: 18px;
}


