#ifndef QTEXFILEFRAME_H
#define QTEXFILEFRAME_H

#include "QtExControlSetting.h"
#include <QFrame>
#include <QFileDialog>
#include <QHBoxLayout>
#include <QtExWidgets/QtExPushButton.h>
#include <QtExWidgets/QtExLineEdit.h>

namespace QtExControl {


class QtExFileFramePrivate;
class QTEXCONTROL_EXPORT QtExFileFrame : public QFrame
{
    Q_OBJECT
public:
    QtExFileFrame(QWidget* parent = nullptr);
    ~QtExFileFrame();
protected:
    QtExFileFrame(QtExFileFramePrivate& dd, QWidget* parent = nullptr);
    QScopedPointer<QObjectData> d_ptr;
private:
    Q_DECLARE_PRIVATE(QtExFileFrame)
    Q_DISABLE_COPY(QtExFileFrame)

/********************功能接口*****************************/

public:
    //获取输入框/按钮对象
    QtExLineEdit* getLineEdit() const;
    QtExPushButton* getPushButton() const;
    //设置文件打开模式
    void setFileMode(QFileDialog::FileMode mode);
    //设置文件选择弹窗标题
    void setCaption(const QString& caption);
    //设置文件选择的过滤
    void setFilter(const QString& filter);
    //设置路径/设置LineEdit的内容
    void setDirectory(const QString& dir);
    //获取路径/获取LineEdit的内容
    QString getDirectory();
    //设置默认路径：当LineEdit路径内容为空时打开默认路径
    void setInitDirectory(const QString& dir);
    //设置Directory模式下路径末尾的"/"是否展示：默认展示
    void setEndBackslashVisible(bool visible);
signals:
    void signalTextChanged(const QString& text);

};


}


#endif // QTEXFILEFRAME_H
