#ifndef QTEXSLIDER_H
#define QTEXSLIDER_H

#include "QtExControlSetting.h"
#include <QSlider>
#include <QtExWidgets/QtExLineEdit.h>
#include <QStyle>

namespace QtExControl {


//普通滑块
class QtExSliderPrivate;
class QTEXCONTROL_EXPORT QtExSlider : public QSlider
{
    Q_OBJECT
        Q_PROPERTY(QColor m_sliderHandleBorderColor READ sliderHandleBorderColor WRITE setSliderHandleBorderColor)
        Q_PROPERTY(QColor m_sliderHandleBgColor READ sliderHandleBgColor WRITE setSliderHandleBgColor)
        Q_PROPERTY(QColor m_sliderHandleCenterPointColor READ sliderHandleCenterPointColor WRITE setSliderHandleCenterPointColor)
public:
    // 构造
    explicit QtExSlider(QWidget* parent = nullptr);
    explicit QtExSlider(Qt::Orientation orientation, QWidget* parent = nullptr);
    ~QtExSlider();
protected:
    explicit QtExSlider(QtExSliderPrivate& dd, QWidget* parent = nullptr);
    explicit QtExSlider(QtExSliderPrivate& dd, Qt::Orientation orientation, QWidget* parent = nullptr);
    QScopedPointer<QObjectData> d_ptr;
private:
    Q_DECLARE_PRIVATE(QtExSlider)
    Q_DISABLE_COPY(QtExSlider)

/********************功能接口*****************************/

public:
    QColor sliderHandleBorderColor() const;
    void setSliderHandleBorderColor(const QColor& color);
    QColor sliderHandleBgColor() const;
    void setSliderHandleBgColor(const QColor& color);
    QColor sliderHandleCenterPointColor() const;
    void setSliderHandleCenterPointColor(const QColor& color);
public:
    //设置tooltip是否显示
    void setToolTipVisible(bool visible);
signals:
    void signalMousePressed();
    void signalMouseReleased();
    //仅在鼠标释放滑块值改变时触发
    void signalValueChanged(int value);
protected:
    virtual void mousePressEvent(QMouseEvent* event);
    virtual void mouseReleaseEvent(QMouseEvent* event);
    bool event(QEvent* event) override;
    virtual void paintEvent(QPaintEvent* event);

};



//步长滑块
class QtExStepSliderPrivate;
class QTEXCONTROL_EXPORT QtExStepSlider : public QtExSlider
{
    Q_OBJECT
        Q_PROPERTY(QColor m_sliderScaleLineColor READ sliderScaleLineColor WRITE setSliderScaleLineColor)
public:
    explicit QtExStepSlider(QWidget* parent = nullptr);
    explicit QtExStepSlider(Qt::Orientation orientation, QWidget* parent = nullptr);
    ~QtExStepSlider();
protected:
    explicit QtExStepSlider(QtExStepSliderPrivate& dd, QWidget* parent = nullptr);
    explicit QtExStepSlider(QtExStepSliderPrivate& dd, Qt::Orientation orientation, QWidget* parent = nullptr);
private:
    Q_DECLARE_PRIVATE(QtExStepSlider)
    Q_DISABLE_COPY(QtExStepSlider)

/********************功能接口*****************************/

public:
    QColor sliderScaleLineColor() const;
    void setSliderScaleLineColor(const QColor& color);
public:
    //设置步长（刻度间隔）
    void setStepLength(int length);
protected:
    virtual void paintEvent(QPaintEvent* event);

};



//双滑块范围选择器
class QtExRangeSliderPrivate;
class QTEXCONTROL_EXPORT QtExRangeSlider : public QtExSlider
{
    Q_OBJECT
        Q_PROPERTY(QColor m_sliderIntervalLineColor READ sliderIntervalLineColor WRITE setSliderIntervalLineColor)
public:
    QtExRangeSlider(QWidget* parent);
    ~QtExRangeSlider();
protected:
    QtExRangeSlider(QtExRangeSliderPrivate& dd, QWidget* parent);
private:
    Q_DECLARE_PRIVATE(QtExRangeSlider)
    Q_DISABLE_COPY(QtExRangeSlider)

/********************功能接口*****************************/

public:
    QColor sliderIntervalLineColor() const;
    void setSliderIntervalLineColor(const QColor& color);
public:
    //获取输入框的值
    int getMinLineEditValue() const;
    int getMaxLineEditValue() const;
    //设置输入框的值
    void setMinLineEditValue(int val);
    void setMaxLineEditValue(int val);
    //滑块步进长度
    void setSingleStepLength(int value);
    //获取范围的最大/最小值
    int getRangeMinValue() const;
    int getRangeMaxValue() const;
    //设置输入框是否可见
    void setLineEditVisible(bool visible = false);
signals:
    //输入框状态改变，鼠标以及键盘操作修改值时触发
    void signalLineEditStateChanged();
    void signalMinLineEditValueChanged(int);
    void signalMaxLineEditValueChanged(int);
protected:
    bool eventFilter(QObject* obj, QEvent* event);
    void paintEvent(QPaintEvent* event);
    void leaveEvent(QEvent* event);
    void keyPressEvent(QKeyEvent* event);
    void mousePressEvent(QMouseEvent* event);
    void mouseReleaseEvent(QMouseEvent* event);
    void mouseMoveEvent(QMouseEvent* event);

};


}

#endif //QTEXSLIDER_H
