@import "../PublicLess/Common.less";




/***************************QtExSlider******************************/

@QtExSliderGrooveBgColorArray: @Neutral6, @Neutral5;
@QtExSliderHandleDisableBgColorArray: #F5F5F5, #202020;
@QtExSliderHandleDisableBorderColorArray: #EBEBEB, #2B2B2B;
@QtExSliderHandleBorderColorArray: @Neutral6, @Neutral5;

QtExControl--QtExSlider
{
    qproperty-m_sliderHandleBorderColor:extract(@QtExSliderHandleBorderColorArray, @currentTheme);
    qproperty-m_sliderHandleBgColor:#FFFFFF;
    qproperty-m_sliderHandleCenterPointColor:@Brand6;
}


QtExControl--QtExSlider:horizontal
{
    background:transparent;
}
QtExControl--QtExSlider::groove:horizontal
{
    height:2px;
    border-radius:2px;
    background-color: extract(@QtExSliderGrooveBgColorArray, @currentTheme);
    left: 5px;
    right: 5px;
}
QtExControl--QtExSlider::sub-page:horizontal
{
    height:8px;
    border-radius:3px;
    background:@Brand6;
    left: 5px;
    right: 5px;
}
QtExControl--QtExSlider::handle:horizontal
{
    width:24px;
    margin-top:-11px;
    margin-bottom:-11px;
    margin-left:-10px;
    margin-right:-10px;
    border-radius:1px;
    padding-left:-1px;
    background:transparent;
}
QtExControl--QtExSlider::handle:horizontal:hover
{
    height:24px;
    width:24px;
    margin-top:-12px;
    margin-bottom:-12px;
    border-radius:1px;
    background:transparent;
    margin-left:-4px;
    margin-right:-2px;
}
QtExControl--QtExSlider::groove:horizontal
{
    left: 10px;
    right: 10px;
}
QtExControl--QtExSlider::handle:horizontal
{
    margin-left:-10px;
    margin-right:-10px;
}
QtExControl--QtExSlider::handle:horizontal:hover
{
    margin-left:-12px;
    margin-right:-12px;
}
QtExControl--QtExSlider::groove:horizontal:disabled
{
    background-color: fade(extract(@QtExSliderGrooveBgColorArray, @currentTheme), 40% * alpha(extract(@QtExSliderGrooveBgColorArray, @currentTheme)));
}
QtExControl--QtExSlider::sub-page:horizontal:disabled
{
    background-color: fade(@Brand6, 40%);
}
QtExControl--QtExSlider::handle:horizontal:disabled
{
    background: ~"qradialgradient(spread: pad,cx : 0.5,cy : 0.5,radius : 0.5,fx : 0.5,fy : 0.5,stop : 0.5" extract(@QtExSliderHandleDisableBgColorArray, @currentTheme) ~",stop:0.55" extract(@QtExSliderHandleDisableBorderColorArray, @currentTheme) ~"stop:0.63 transparent stop:1 transparent)";
}



QtExControl--QtExSlider:vertical
{
    background:transparent;
}
QtExControl--QtExSlider::groove:vertical
{
    width:2px;
    border-radius:2px;
    background-color: extract(@QtExSliderGrooveBgColorArray, @currentTheme);
    bottom:5px;
    top:5px;
}
QtExControl--QtExSlider::add-page:vertical
{
    width:8px;
    border-radius:3px;
    background-color:@Brand6;
    bottom:5px;
    top:5px;
}
QtExControl--QtExSlider::handle:vertical
{
    height:24px;
    margin-top:-5px;
    margin-bottom:-5px;
    margin-left:-11px;
    margin-right:-11px;
    border-radius:1px;
    padding-bottom:-1px;
    background:transparent;
}
QtExControl--QtExSlider::handle:vertical:hover
{
    height:24px;
    margin-left:-11px;
    margin-right:-11px;
    border-radius:1px;
    background:transparent;
    margin-bottom:-4px;
    margin-top:-2px;
}
QtExControl--QtExSlider::groove:vertical:disabled
{
    background-color: fade(extract(@QtExSliderGrooveBgColorArray, @currentTheme), 40% * alpha(extract(@QtExSliderGrooveBgColorArray, @currentTheme)));
}
QtExControl--QtExSlider::add-page:vertical:disabled
{
    background-color: fade(@Brand6, 40%);
}
QtExControl--QtExSlider::handle:vertical:disabled
{
    height:24px;
    margin-top:-5px;
    margin-bottom:-5px;
    margin-left:-11px;
    margin-right:-11px;
    border-radius:1px;
    padding-bottom:-1px;
    background: ~"qradialgradient(spread: pad,cx : 0.5,cy : 0.5,radius : 0.5,fx : 0.5,fy : 0.5,stop : 0.5" extract(@QtExSliderHandleDisableBgColorArray, @currentTheme) ~",stop:0.55" extract(@QtExSliderHandleDisableBorderColorArray, @currentTheme) ~"stop:0.63 transparent stop:1 transparent)";
}
QtExControl--QtExSlider::groove:vertical
{
    bottom:10px;
    top:10px;
}
QtExControl--QtExSlider::handle:vertical
{
    margin-bottom:-10px;
    margin-top:-10px;
}
QtExControl--QtExSlider::handle:vertical:hover
{
    margin-bottom:-12px;
    margin-top:-12px;
}






/***************************QtExStepSlider******************************/

QtExControl--QtExStepSlider
{
    qproperty-m_sliderScaleLineColor:@Neutral5;
}




/***************************QtExRangeSlider******************************/

@QtExRangeSliderLineEditBorderColorArray: @Neutral6, @Neutral5;

QtExControl--QtExRangeSlider
{
    qproperty-m_sliderIntervalLineColor:@Brand6;
}
QtExControl--QtExRangeSlider::groove:horizontal 
{
    padding-right: 0px;
}
QtExControl--QtExRangeSlider QtExControl--QtExLineEdit#errorBorder 
{
    border: 1px solid @--Error-Color;
}
QtExControl--QtExRangeSlider QtExControl--QtExLineEdit#normalBorder 
{
    border: 1px solid extract(@QtExRangeSliderLineEditBorderColorArray, @currentTheme);
}



