#ifndef QTEXSLIDER_P_H
#define QTEXSLIDER_P_H

#include <QtExWidgets/QtExSlider.h>

namespace QtExControl{


class QtExSliderPrivate :public QObjectData
{
    Q_DECLARE_PUBLIC(QtExSlider)
public:
    QtExSliderPrivate();
    ~QtExSliderPrivate() = default;
public:
    bool m_isToolTipVisible = false;
    //鼠标按下时的值
    int m_oldValue = -1;
    bool m_isHandleInHoverState = false;
    QRect m_handleRect;
    QColor m_sliderHandleBorderColor = QColor(0, 0, 0, 77);
    QColor m_sliderHandleBgColor = QColor("#FFFFFF");
    QColor m_sliderHandleCenterPointColor = QColor("#3569F4");
public:
    virtual void showToolTipInfo(int value);
    int getValueDependOrientation(const QPoint& pt) const;
    int handleMousePosToSliderValue(int iPos) const;
    
};



class QtExStepSliderPrivate :public QtExSliderPrivate
{
    Q_DECLARE_PUBLIC(QtExStepSlider)
public:
    QtExStepSliderPrivate();
    ~QtExStepSliderPrivate() = default;
public:
    //刻度间隔，默认为1，表示每个刻度之间的间隔为1
    int m_stepLength = 1;
    //当前刻度序号
    int m_curScaleIndex = 0;
    QColor m_sliderScaleLineColor = QColor(0, 0, 0, 51);
public:
    void init();
    //获取离value最近的刻度值
    int getNearestScaleValue(int value) const;
    //根据刻度值获取刻度序号，刻度序号从0开始
    int getScaleIndexByValue(int value)const;
    void updateHandlePos();
    void onValueChanged(int value);

};



class QtExRangeSliderPrivate :public QtExSliderPrivate
{
    Q_DECLARE_PUBLIC(QtExRangeSlider)
public:
    QtExRangeSliderPrivate();
    ~QtExRangeSliderPrivate() = default;
public:
    enum SliderHoverState {
        HoverMinHandle = 0,     //鼠标在最小值滑块上
        HoverMaxHandle,         //鼠标在最大值滑块上
        BothNotHover,           //鼠标不在任何一个滑块上
    };
public:
    QTimer* m_timer = nullptr;
    QtExLineEdit* m_maxLineEdit = nullptr;
    QtExLineEdit* m_minLineEdit = nullptr;
    bool m_isMaxEditValueChanged = false;
    bool m_isMinEditValueChanged = false;
    //当前输入框的值
    float m_minEditValue = 0;
    float m_maxEditValue = 99;
    //键盘左右键每次调整的值，默认为1
    float m_singleStepValue = 1;
    bool m_isLineEditVisible = false;
    bool m_isHoverHandleControl = false;
    //范围的最大值和最小值，默认为0-99
    float m_minRangeValue = 0;
    float m_maxRangeValue = 99;
    //两个滑块之间的区间线颜色
    QColor m_sliderIntervalLineColor = QColor("#3569F4");
    //滑块的有效区域，用于判断鼠标是否在滑块上
    QRect minHandleRegion;
    QRect maxHandleRegion;
    //当前鼠标所在的滑块位置状态
    SliderHoverState m_sliderHoverState = SliderHoverState::BothNotHover;
    //滑块重合的计算偏差值
    int m_OffsetValue = 0.001;
    //是否正在进行滑块拖动操作：避免滑块移动时重叠时导致一瞬间另一个滑块值被修改
    bool m_isMovingHandle = false;
public:
    void init();
    void onMaxEditFinshed();
    void onMinEditFinshed();
    void onMaxTextChanged(const QString& text);
    void onMinTextChanged(const QString& text);
    void updateLineEditState();
    void onSliderRangeChanged(int min, int max);
    int getValidValue(int value, int min, int max);
    void updateHoverControl(const QPoint& pos);
    bool isHoverHandleControl(const QPoint& pos);

};




}

#endif