#include "QtExSearchLineEdit.h"
#include "QtExSearchLineEdit_p.h"
#include <QHBoxLayout>

#include <QStandardItemModel>
#include <QEvent>
#include <QScreen>
#include <QApplication>
#include <QMouseEvent>

namespace QtExControl {


QtExSearchLineEditPrivate::QtExSearchLineEditPrivate() :QtExLineEditPrivate()
{
}
void QtExSearchLineEditPrivate::initSubControl()
{
    Q_Q(QtExSearchLineEdit);
    //构建内部lineEdit
    m_lineEdit = new(std::nothrow) QtExLineEdit(q);
    if (m_lineEdit)
    {
        m_lineEdit->installEventFilter(q);
        //同步内部lineEdit和自身的文本内容
        q->connect(m_lineEdit, &QtExLineEdit::textChanged,
            q, [=](const QString& text) {
                q->setText(text);
            });
        m_lineEdit->setPlaceholderRightMargin(24);
        q->connect(m_lineEdit, &QtExSearchLineEdit::editingFinished, q, &QtExSearchLineEdit::editingFinished);
    }
    q->setFixedHeight(32);


    m_clearButton = new(std::nothrow) QtExPushButton(q);
    if (m_clearButton)
    {
        m_clearButton->setObjectName("clearButton");
        m_clearButton->setFocusPolicy(Qt::NoFocus);
        m_clearButton->setFocusProxy(m_lineEdit);
        m_clearButton->setShowHoverCursor(true);
        m_clearButton->hide();

        q->connect(m_clearButton, &QtExPushButton::clicked,
            q, [=]() {
                onClearBtnClicked();
                m_clearButton->hide();
            });
    }
    m_searchButton = new(std::nothrow) QtExPushButton(q);
    if (m_searchButton)
    {
        m_searchButton->setObjectName("searchButton");
        m_searchButton->setFocusPolicy(Qt::NoFocus);
        m_searchButton->setCursor(Qt::ArrowCursor);

        // 搜索信号
        q->connect(m_searchButton, &QtExPushButton::clicked,
            q, [=]() {
                onSearchBtnClicked();
            });
    }
    QHBoxLayout* layout = new(std::nothrow) QHBoxLayout(q);
    if (layout)
    {
        if (q->layoutDirection() == Qt::RightToLeft)
        {
            layout->setContentsMargins(4, 0, 0, 0);
        }
        else
        {
            layout->setContentsMargins(0, 0, 4, 0);
        }
        layout->setSpacing(0);
        layout->addStretch();
        layout->addWidget(m_clearButton);
        layout->addWidget(m_searchButton);
        q->setLayout(layout);
    }

    q->connect(q, &QtExSearchLineEdit::textChanged,
        q, [=](const QString& text) {
            onTextChanged(text);
        });

}
void QtExSearchLineEditPrivate::showListView()
{
    Q_Q(QtExSearchLineEdit);

    if (QtExSearchLineEdit::SearchMode_Simple == m_searchMode && q->text().isEmpty())
    {
        return;
    }

    if (QtExSearchLineEdit::SearchMode_HightLightFilterText == m_searchMode && m_filterModel && m_listView)
    {
        m_filterModel->setFilterRegExp("");
        q->setCurrentIndex(m_selectIndex.row());
    }

    if (QtExSearchLineEdit::SearchMode_Simple == m_searchMode)
    {
        if (m_lineEdit)
        {
            QString lineEditStyle = QString("QtExControl--QtExLineEdit{padding-right:28px;}");//24+4
            m_lineEdit->setStyleSheet(lineEditStyle);
        }

        if (m_searchButton)
        {
            m_searchButton->hide();
        }
        if (q->currentIndex() < 0)
        {
            q->setCurrentIndex(0);
        }
    }


    if (m_listView && m_listView->isHidden() && m_listViewModel)
    {
        m_listView->setSelectedIndex(m_curIndex);
        m_listView->updateViewSize();
        //计算下拉面板弹出位置
        QPoint listPos = q->mapToGlobal(QPoint(0, q->size().height() + 4));
        QScreen* screen = qApp->primaryScreen();
        if (screen && screen->geometry().height() < listPos.y() + m_listView->height())
        {
            listPos.setY(listPos.y() - (q->size().height() + m_listView->height() +
                2 * 4));
            m_listView->move(listPos);
        }
        else
        {
            m_listView->move(listPos);
        }
        m_listView->show();

        q->setFocus();
    }

}
void QtExSearchLineEditPrivate::hideListView()
{
    Q_Q(QtExSearchLineEdit);

    if (QtExSearchLineEdit::SearchMode_Simple == m_searchMode)
    {
        if (m_lineEdit)
        {
            m_lineEdit->setStyleSheet("");
        }

        if (m_searchButton)
        {
            m_searchButton->show();
        }
    }

    if (m_listView)
    {
        m_listView->hide();
    }
}
void QtExSearchLineEditPrivate::setSelectedItem(const QModelIndex& index)
{
    Q_Q(QtExSearchLineEdit);

    // 项点中根据不同的类型触发不同的操作
    switch (m_searchMode)
    {
    case QtExSearchLineEdit::SearchMode_Simple:
    {
        emit q->signalViewItemSelected(index.row(), index.data().toString());
    }
    break;
    case QtExSearchLineEdit::SearchMode_AddSerialNumber:
    {
        if (index.isValid() && m_lineEdit)
        {
            m_lineEdit->setText(index.data().toString());
            emit q->signalViewItemSelected(-1, index.data().toString());
        }
    }
    break;
    case QtExSearchLineEdit::SearchMode_MatchPrefixBoldOther:
    case QtExSearchLineEdit::SearchMode_HightLightFilterText:
    {
        if (m_filterModel && index.isValid() && m_lineEdit)
        {
            QModelIndex indexSource = m_filterModel->mapToSource(index);
            m_lineEdit->setText(indexSource.data().toString());
            m_selectIndex = indexSource;

            emit q->signalViewItemSelected(-1, indexSource.data().toString());
        }
    }
    break;
    default:
        break;
    }

    // 点击选中项后失去焦点
    q->parentWidget()->setFocus();

    m_curIndex = index.row();
    hideListView();

}
void QtExSearchLineEditPrivate::onItemClicked(const QModelIndex& index)
{
    Q_Q(QtExSearchLineEdit);

    if (index.flags() & Qt::ItemIsEnabled)
    {
        setSelectedItem(index);
    }
}
void QtExSearchLineEditPrivate::onSearchBtnClicked()
{
    Q_Q(QtExSearchLineEdit);
    emit q->signalSearchButtonClicked();
}
void QtExSearchLineEditPrivate::onClearBtnClicked()
{
    Q_Q(QtExSearchLineEdit);

    if (m_lineEdit)
    {
        m_lineEdit->clear();
    }

    hideListView();

    if (q->parentWidget())
    {
        q->parentWidget()->setFocus();
    }

    q->setCurrentIndex(-1);
    emit q->signalClearButtonClicked();
}
void QtExSearchLineEditPrivate::onTextChanged(const QString& text)
{
    Q_Q(QtExSearchLineEdit);

    m_clearButton->setVisible(!text.isEmpty());

    if (!m_searchButton && m_lineEdit)
    {
        QString lineEditStyle = QString("QtExControl--QtExLineEdit{padding-right:28px;}");//24+4
        m_lineEdit->setStyleSheet(lineEditStyle);
    }

    if (QtExSearchLineEdit::SearchMode_Simple == m_searchMode)
    {
        if (m_searchButton)
        {
            bool isTextEmpty = text.isEmpty();
            m_searchButton->setVisible(isTextEmpty);
        }

        if (m_listView->isHidden() && !text.isEmpty())
        {
            showListView();
        }
        if (text.isEmpty())
        {
            hideListView();
        }
    }

    else if (QtExSearchLineEdit::SearchMode_HightLightFilterText == m_searchMode)
    {
        if (m_searchButton)
        {
            if (text.isEmpty())
            {
                QString lineEditStyle = QString("QtExControl--QtExLineEdit{padding-left:24px;}");
                m_lineEdit->setStyleSheet(lineEditStyle);
            }
            else
            {
                QString lineEditStyle = QString("QtExControl--QtExLineEdit{padding-right:28px;}");//24+4
                m_lineEdit->setStyleSheet(lineEditStyle);
            }
            bool isTextEmpty = text.isEmpty();
            m_searchButton->setVisible(isTextEmpty);
        }
    }


    //这两种模式需要根据输入文本进行加粗或高亮处理，以及过滤显示项
    if (QtExSearchLineEdit::SearchMode_MatchPrefixBoldOther == m_searchMode || QtExSearchLineEdit::SearchMode_HightLightFilterText == m_searchMode)
    {
        //清空选中项
        q->setCurrentIndex(-1);

        //设置下拉面板的加粗或高亮文本
        if (m_listView)
        {
            if (QtExSearchLineEdit::SearchMode_MatchPrefixBoldOther == m_searchMode)
            {
                m_listView->setPrefixMatchText(text);
            }
            else
            {
                m_listView->setHighLightText(text);
            }
        }

        //设置过滤条件，过滤显示项
        if (m_filterModel)
        {
            if (text.isEmpty())
            {
                if (QtExSearchLineEdit::SearchMode_MatchPrefixBoldOther == m_searchMode)
                {
                    //文本为空则不匹配任何项，确保下拉面板无显示项
                    m_filterModel->setFilterRegExp("^$");
                }
                else
                {
                    //文本为空则展示所有项
                    m_filterModel->setFilterRegExp("");
                }
            }
            else
            {
                if (QtExSearchLineEdit::SearchMode_MatchPrefixBoldOther == m_searchMode)
                {
                    //匹配以输入文本为开头的项，且后面必须有内容
                    m_filterModel->setFilterRegExp("^" + regexpTrans(text) + "\\w");
                }
                else
                {
                    //全文匹配输入文本
                    m_filterModel->setFilterRegExp(regexpTrans(text));
                }
            }

            if (m_listView)
            {
                m_listView->updateViewSize();
                if (QtExSearchLineEdit::SearchMode_MatchPrefixBoldOther == m_searchMode && m_filterModel->hasChildren())
                {
                    showListView();
                }
            }
        }

    }


    emit q->signalTextChanged(text);

}
QString QtExSearchLineEditPrivate::regexpTrans(const QString& regexp)
{
    QString trans = regexp;
    trans.replace("\\", "\\\\");
    trans.replace("$", "\\$");
    trans.replace("(", "\\(");
    trans.replace(")", "\\)");
    trans.replace("+", "\\+");
    trans.replace(".", "\\.");
    trans.replace("[", "\\[");
    trans.replace("]", "\\]");
    trans.replace("?", "\\?");
    trans.replace("^", "\\^");
    trans.replace("{", "\\{");
    trans.replace("}", "\\}");
    trans.replace("|", "\\|");

    return trans;
}

/******************************/

QtExSearchLineEdit::QtExSearchLineEdit(QWidget *parent)
    : QtExLineEdit(*new QtExSearchLineEditPrivate,parent)
{
    Q_D(QtExSearchLineEdit);
    d->initSubControl();
}
QtExSearchLineEdit::QtExSearchLineEdit(QtExSearchLineEditPrivate &dd, QWidget *parent)
    : QtExLineEdit(dd, parent)
{
    Q_D(QtExSearchLineEdit);
    d->initSubControl();
}
QtExSearchLineEdit::~QtExSearchLineEdit()
{
}


QString QtExSearchLineEdit::clearButtonHoverImage()
{
    Q_D(QtExSearchLineEdit);

    return d->m_clearButtonHoverImage;
}
void QtExSearchLineEdit::setClearButtonHoverImage(const QString& color)
{
    Q_D(QtExSearchLineEdit);

    d->m_clearButtonHoverImage = color;
}
QString QtExSearchLineEdit::clearButtonPressImage()
{
    Q_D(QtExSearchLineEdit);

    return d->m_clearButtonPressImage;
}
void QtExSearchLineEdit::setClearButtonPressImage(const QString& color)
{
    Q_D(QtExSearchLineEdit);

    d->m_clearButtonPressImage = color;
}
QColor QtExSearchLineEdit::searchButtonHoverBgColor()
{
    Q_D(QtExSearchLineEdit);

    return d->m_searchButtonHoverBgColor;
}
void QtExSearchLineEdit::setSearchButtonHoverBgColor(const QColor& color)
{
    Q_D(QtExSearchLineEdit);

    d->m_searchButtonHoverBgColor = color;
}
QColor QtExSearchLineEdit::searchButtonPressBgColor()
{
    Q_D(QtExSearchLineEdit);

    return d->m_searchButtonPressBgColor;
}
void QtExSearchLineEdit::setSearchButtonPressBgColor(const QColor& color)
{
    Q_D(QtExSearchLineEdit);

    d->m_searchButtonPressBgColor = color;
}


void QtExSearchLineEdit::setText(const QString& text)
{
    Q_D(QtExSearchLineEdit);
    if (nullptr != d->m_lineEdit)
    {
        d->m_lineEdit->setText(text);
    }
    QtExLineEdit::setText(text);
}
void QtExSearchLineEdit::setDefaultViewVisible(bool visible)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listView)
    {
        d->m_isShowEmptyListView = visible;
        d->m_listView->setDefaultViewVisible(visible);
    }
}
void QtExSearchLineEdit::setDefaultViewText(const QString& text)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listView)
    {
        d->m_listView->setDefaultViewText(text);
    }
}
void QtExSearchLineEdit::setListView(QtExDropListView* view)
{
    Q_D(QtExSearchLineEdit);
    if (d->m_listView)
    {
        delete d->m_listView;
        d->m_listView = nullptr;
    }

    d->m_listView = view;
    if (d->m_listView)
    {
        d->m_listView->setParent(this);
        d->m_listView->setFocusProxy(this);
        d->m_listView->installEventFilter(this);
        d->m_listView->setDefaultViewVisible(true); 
        d->m_listView->hide();

        connect(d->m_listView,&QtExDropListView::clicked,
            this, [=](const QModelIndex& index) {
                d->onItemClicked(index);
            });
    }

}
QtExDropListView* QtExSearchLineEdit::getListView()
{
    Q_D(QtExSearchLineEdit);
    return d->m_listView;
}
void QtExSearchLineEdit::setViewModel(QStandardItemModel* model)
{
    Q_D(QtExSearchLineEdit);
    d->m_listViewModel = model;
}
void QtExSearchLineEdit::addItem(const QString& text)
{
    Q_D(QtExSearchLineEdit);
    if (d->m_listView && d->m_listViewModel)
    {
        insertItem(d->m_listViewModel->rowCount(), text);
    }
}
void QtExSearchLineEdit::insertItem(int index, const QString& text)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listViewModel)
    {
        QStandardItem* item = new(std::nothrow) QStandardItem(text);
        if (item)
        {
            d->m_listViewModel->insertRow(index, item);
        }
    }


}
void QtExSearchLineEdit::removeItem(int index)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listViewModel)
    {
        d->m_listViewModel->removeRow(index);
    }
}
void QtExSearchLineEdit::removeItems(int begin, int count)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listViewModel)
    {
        d->m_listViewModel->removeRows(begin, count);
    }
}
int QtExSearchLineEdit::itemCount()
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listViewModel)
    {
        return d->m_listViewModel->rowCount();
    }
    return 0;
}
void QtExSearchLineEdit::setItemEnable(int index, bool enabel)
{
    Q_D(QtExSearchLineEdit);

    if (nullptr == d->m_listView || nullptr == d->m_listView->model())
    {
        return;
    }

    QModelIndex modelIndex = d->m_listView->model()->index(index, 0);
    if (modelIndex.isValid())
    {
        Qt::ItemFlags flags = d->m_listView->model()->flags(modelIndex);
        if (enabel)
        {
            flags |= Qt::ItemIsEnabled;
        }
        else
        {
            flags &= ~Qt::ItemIsEnabled;
        }

        //item的flags是角色 Qt::UserRole - 1 管理
        d->m_listView->model()->setData(modelIndex, static_cast<int>(flags), Qt::UserRole - 1);
    }
}
void QtExSearchLineEdit::setMaxItemCount(int count)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_listView)
    {
        d->m_listView->setMaxItemCount(count);
    }
}
void QtExSearchLineEdit::setPlaceholderText(const QString& text)
{
    Q_D(QtExSearchLineEdit);
    if (d->m_lineEdit)
    {
        d->m_lineEdit->setPlaceholderText(text);
    }
}
void QtExSearchLineEdit::setPlaceholderLeftMargin(int length)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_lineEdit)
    {
        d->m_lineEdit->setPlaceholderLeftMargin(length);
    }

    QtExLineEdit::setPlaceholderLeftMargin(length);
}
void QtExSearchLineEdit::setCurrentIndex(int index)
{
    Q_D(QtExSearchLineEdit);
    d->m_curIndex = index;
    if (d->m_listView)
    {
        d->m_listView->setSelectedIndex(index);
    }
}
int QtExSearchLineEdit::currentIndex()
{
    Q_D(QtExSearchLineEdit);
    return d->m_curIndex;
}
void QtExSearchLineEdit::clear()
{
    Q_D(QtExSearchLineEdit);
    if (nullptr != d->m_lineEdit)
    {
        d->m_lineEdit->clear();
    }
    setCurrentIndex(-1);
    QtExLineEdit::clear();
}
QtExLineEdit* QtExSearchLineEdit::lineEdit()
{
    Q_D(QtExSearchLineEdit);

    return d->m_lineEdit;
}
void QtExSearchLineEdit::setLineEditMaxLength(int length)
{
    Q_D(QtExSearchLineEdit);

    if (nullptr != d->m_lineEdit)
    {
        d->m_lineEdit->setMaxLength(length);
    }
    QtExLineEdit::setMaxLength(length);
}
void QtExSearchLineEdit::hideDropListView()
{
    Q_D(QtExSearchLineEdit);

    d->hideListView();
}
QtExPushButton* QtExSearchLineEdit::clearButton()
{
    Q_D(QtExSearchLineEdit);

    return d->m_clearButton;
}
QtExPushButton* QtExSearchLineEdit::searchButton()
{
    Q_D(QtExSearchLineEdit);

    return d->m_searchButton;
}
void QtExSearchLineEdit::setSearchMode(SearchMode mode)
{
    Q_D(QtExSearchLineEdit);

    d->m_searchMode = mode;

    //清除旧的listView
    if (d->m_listView)
    {
        delete d->m_listView;
        d->m_listView = nullptr;
    }
    if (nullptr == d->m_listViewModel)
    {
        d->m_listViewModel = new(std::nothrow) QStandardItemModel(this);
    }

    switch (d->m_searchMode)
    {
    case SearchMode::SearchMode_Simple:
    {
        d->m_listView = new(std::nothrow) QtExDropListView(this);
        if (d->m_listView)
        {
            d->m_listView->setModel(d->m_listViewModel);
            d->m_listView->setDropListViewItemDelegate(new(std::nothrow) QtExDropListViewItemDelegate(d->m_listView));
        }
        setDefaultViewVisible(false);
    }
    break;
    case SearchMode::SearchMode_AddSerialNumber:
    {
        d->m_listView = new(std::nothrow) QtExDropListView(this);
        if (d->m_listView)
        {
            d->m_listView->setModel(d->m_listViewModel);
            QtExDropListViewItemDelegate* textDelegate = new(std::nothrow) QtExDropListViewItemDelegate(d->m_listView);
            if (textDelegate)
            {
                textDelegate->setTextMode(QtExDropListViewItemDelegate::TextMode_AddSerialNumber);
                d->m_listView->setDropListViewItemDelegate(textDelegate);
            }
        }
        setDefaultViewVisible(false);
    }
    break;
    case SearchMode::SearchMode_MatchPrefixBoldOther:
    {
        d->m_listView = new(std::nothrow) QtExDropListView(this);
        if (d->m_listView)
        {
            d->m_filterModel = new(std::nothrow) QSortFilterProxyModel(this);
            if (d->m_filterModel)
            {
                d->m_filterModel->setFilterKeyColumn(0);
                d->m_filterModel->setFilterCaseSensitivity(Qt::CaseInsensitive);
                d->m_filterModel->setSourceModel(d->m_listViewModel);
                //匹配空字符串，确保初始状态无下拉显示项
                d->m_filterModel->setFilterRegExp("^$");
                d->m_listView->setModel(d->m_filterModel);
            }

            d->m_itemDelegate = new(std::nothrow) QtExDropListViewItemDelegate(d->m_listView);
            if (d->m_itemDelegate)
            {
                static_cast<QtExDropListViewItemDelegate*>(d->m_itemDelegate)->setTextMode(QtExDropListViewItemDelegate::TextMode_MatchPrefixBoldOther);
                d->m_listView->setDropListViewItemDelegate(d->m_itemDelegate);
            }
        }
        setDefaultViewVisible(false);
    }
    break;
    case SearchMode::SearchMode_HightLightFilterText:
    {
        //高亮匹配模式时：搜索按钮默认放置到前方，进行布局调整
        QLayout* oldLayout = layout();
        if (oldLayout)
        {
            delete oldLayout;
            oldLayout = nullptr;
        }
        QHBoxLayout* newLayout = new(std::nothrow) QHBoxLayout(this);
        if (newLayout)
        {
            newLayout->setContentsMargins(4, 0, 4, 0);
            if (d->m_searchButton != nullptr)
            {
                //调整提示文本左侧边距，确保提示文本不被搜索按钮遮挡
                setPlaceholderLeftMargin(24);
                if (d->m_lineEdit)
                {
                    QString lineEditStyle = QString("QtExControl--QtExLineEdit{padding-left:24px;}");
                    d->m_lineEdit->setStyleSheet(lineEditStyle);
                }
                //仅做图标使用不具备点击功能
                d->m_searchButton->setDisabled(true);
                newLayout->addWidget(d->m_searchButton);
            }
            newLayout->addStretch();
            newLayout->addWidget(d->m_clearButton);
            setLayout(newLayout);
            if (d->m_lineEdit)
            {
                d->m_lineEdit->setPlaceholderRightMargin(0);
            }
        }

        //下拉面板、模型、代理的创建
        d->m_listView = new(std::nothrow) QtExDropListView(this);
        if (d->m_listView)
        {
            d->m_filterModel = new(std::nothrow) QSortFilterProxyModel(this);
            if (d->m_filterModel)
            {
                d->m_filterModel->setFilterKeyColumn(0);
                d->m_filterModel->setFilterCaseSensitivity(Qt::CaseInsensitive);
                d->m_filterModel->setSourceModel(d->m_listViewModel);
                //默认展示所有
                d->m_filterModel->setFilterRegExp("");
                d->m_listView->setModel(d->m_filterModel);
            }

            d->m_itemDelegate = new(std::nothrow) QtExDropListViewItemDelegate(d->m_listView);
            if (d->m_itemDelegate)
            {
                static_cast<QtExDropListViewItemDelegate*>(d->m_itemDelegate)->setTextMode(QtExDropListViewItemDelegate::TextMode_HightLightParticularContent);
                d->m_listView->setDropListViewItemDelegate(d->m_itemDelegate);
            }

            setDefaultViewVisible(true);
        }
    }
    break;
    default:
        break;
    }

    if (d->m_listView)
    {
        //事件过滤器，处理关闭和搜索按钮
        d->m_listView->installEventFilter(this);
        d->hideListView();
        setListView(d->m_listView);
        setViewModel(d->m_listViewModel);
    }
}


void QtExSearchLineEdit::mousePressEvent(QMouseEvent* event)
{
    Q_D(QtExSearchLineEdit);

    QLineEdit::mousePressEvent(event);

    if (d->m_listView && d->m_listView->isHidden())
    {
        QAbstractItemModel* model = d->m_listView->model();
        if (nullptr == model)
        {
            d->hideListView();
            return;
        }

        if (model->rowCount() <= 0 && !d->m_isShowEmptyListView)
        {
            d->hideListView();
        }
        else
        {
            d->showListView();
        }
    }

}
void QtExSearchLineEdit::focusInEvent(QFocusEvent* event)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_lineEdit && d->m_lineEdit->isVisible())
    {
        d->m_lineEdit->setFocus();
    }
}
void QtExSearchLineEdit::resizeEvent(QResizeEvent* event)
{
    Q_D(QtExSearchLineEdit);

    if (d->m_lineEdit)
    {
        d->m_lineEdit->resize(width(), height());
        d->m_lineEdit->setFixedHeight(height());
    }

    if (d->m_listView)
    {
        d->m_listView->setFixedWidth(width());
    }

    if (d->m_isInitChanged)
    {
        setPlaceholderLeftMargin(getPlaceholderLeftMargin());
        d->m_isInitChanged = false;
    }

    QtExLineEdit::resizeEvent(event);
}
bool QtExSearchLineEdit::eventFilter(QObject* target, QEvent* event)
{
    Q_D(QtExSearchLineEdit);

    if (target == d->m_lineEdit)
    {
        //将内部lineEdit鼠标事件给自身确保下拉listView的正常弹出
        switch (event->type())
        {
        case QEvent::MouseButtonPress:
        case QEvent::MouseButtonRelease:
        {
            this->event(event);
        }
        break;
        default:
            break;
        }
    }
    else if (target == d->m_listView)
    {
        switch (event->type())
        {
        case QEvent::MouseButtonPress:
        {
            if (d->m_listView)
            {
                //鼠标点击非listview区域，进行隐藏处理
                QMouseEvent* pMouse = static_cast<QMouseEvent*>(event);
                if (!d->m_listView->rect().contains(pMouse->pos()))
                {
                    QRect rc = QRect(mapToGlobal(QPoint(0, 0)), mapToGlobal(QPoint(width(), height())));
                    if (!d->m_listView->isHidden() && !rc.contains(pMouse->globalPos()))
                    {
                        d->hideListView();
                    }
                }
            }
        }  //不进行break，将press事件透传给内部lineedit
        case QEvent::MouseButtonRelease:
        case QEvent::MouseMove:
        case QEvent::HoverMove:
        {
            QMouseEvent* pMouse = static_cast<QMouseEvent*>(event);

            //搜索按钮：hover和press状态的背景色调整
            if (d->m_searchButton && d->m_searchButton->isVisible() && d->m_searchButton->isEnabled())
            {
                QRect rc = d->m_searchButton->geometry();
                QPoint point = pMouse->pos();
                point.setY(point.y() + height() +4);
                if (rc.contains(point))
                {
                    if (QEvent::MouseButtonPress == event->type())
                    {
                        d->m_searchButton->setStyleSheet(QString("background-color: %1;").
                            arg(searchButtonPressBgColor().name(QColor::HexArgb)));
                    }
                    else
                    {
                        if (QEvent::MouseButtonRelease == event->type())
                        {
                            d->m_searchButton->setStyleSheet("");
                        }
                        else
                        {
                            d->m_searchButton->setStyleSheet(QString("background-color: %1;").
                                arg(searchButtonHoverBgColor().name(QColor::HexArgb)));
                        }
                    }
                }
                else
                {
                    d->m_searchButton->setStyleSheet("");
                }
            }
            //清空按钮：hover和press状态的图标调整、以及鼠标手型调整
            if (d->m_clearButton && d->m_clearButton->isVisible())
            {
                QRect rc = d->m_clearButton->geometry();
                QPoint point = pMouse->pos();
                point.setY(point.y() + height() + 4);
                if (rc.contains(point))
                {
                    //手型处理
                    if (!d->m_isClearButtonCursorHandState)
                    {
                        qApp->setOverrideCursor(Qt::PointingHandCursor);
                        d->m_isClearButtonCursorHandState = true;
                    }

                    //图标处理
                    if (QEvent::MouseButtonPress == event->type())
                    {
                        QString str = QString("image: url(%1);").arg(clearButtonPressImage());
                        d->m_clearButton->setStyleSheet(str);
                    }
                    else
                    {
                        if (QEvent::MouseButtonRelease == event->type())
                        {
                            d->m_clearButton->setStyleSheet("");
                            d->onClearBtnClicked();
                        }
                        else
                        {
                            QString str = QString("image: url(%1);").arg(clearButtonHoverImage());
                            d->m_clearButton->setStyleSheet(str);
                        }
                    }
 
                }
                else
                {
                    if (d->m_isClearButtonCursorHandState)
                    {
                        qApp->restoreOverrideCursor();
                        d->m_isClearButtonCursorHandState = false;
                    }
                    d->m_clearButton->setStyleSheet("");
                }
            }

            //将在自身Edit区域的鼠标事件透传给内部lineedit
            QRect rc = QRect(mapToGlobal(QPoint(0, 0)), mapToGlobal(QPoint(width(), height())));
            if (d->m_lineEdit && d->m_listView && pMouse && !d->m_listView->isHidden() && rc.contains(pMouse->globalPos()))
            {
                d->m_lineEdit->event(event);
            }

        }
        break;
        case QEvent::KeyPress:
        {
            if (d->m_lineEdit)
            {
                d->m_lineEdit->event(event);
            }

            QKeyEvent* pKey = static_cast<QKeyEvent*>(event);
            switch (pKey->key())
            {
            case Qt::Key_Select:
            case Qt::Key_Return:
            case Qt::Key_Enter:
            case Qt::Key_Tab:
            {
                if (Qt::Key_Tab != pKey->key())
                {
                    d->setSelectedItem(d->m_listView->currentIndex());
                }
                else
                {
                    //tab键盘，隐藏listview
                    d->hideListView();
                }
            }
            break;
            default:
                break;
            }
        }
        break;
        default:
            break;
        }
    }

    return QtExLineEdit::eventFilter(target, event);
}
void QtExSearchLineEdit::keyPressEvent(QKeyEvent* event)
{
    switch (event->key())
    {
    case Qt::Key_Enter:
    case Qt::Key_Return:
    {
        emit signalSearchButtonClicked();
        return;
    }
    break;
    default:
        break;
    }

    QtExLineEdit::keyPressEvent(event);
}


}
