#ifndef QTEXSEARCHLINEEDIT_H
#define QTEXSEARCHLINEEDIT_H

#include "QtExControlSetting.h"
#include <QtExWidgets/QtExLineEdit.h>
#include <QtExWidgets/QtExListView.h>
#include <QStandardItemModel>
#include <QtExWidgets/QtExPushButton.h>

namespace QtExControl{


class QtExSearchLineEditPrivate;
class QTEXCONTROL_EXPORT QtExSearchLineEdit : public QtExLineEdit
{
    Q_OBJECT
        Q_PROPERTY(QString m_clearButtonHoverImage READ clearButtonHoverImage WRITE setClearButtonHoverImage)
        Q_PROPERTY(QString m_clearButtonPressImage READ clearButtonPressImage WRITE setClearButtonPressImage)
        Q_PROPERTY(QColor m_searchButtonHoverBgColor READ searchButtonHoverBgColor WRITE setSearchButtonHoverBgColor)
        Q_PROPERTY(QColor m_searchButtonPressBgColor READ searchButtonPressBgColor WRITE setSearchButtonPressBgColor)
public:
    QtExSearchLineEdit(QWidget* parent = nullptr);
    ~QtExSearchLineEdit();
protected:
    QtExSearchLineEdit(QtExSearchLineEditPrivate& dd, QWidget* parent = nullptr);
private:
    Q_DECLARE_PRIVATE(QtExSearchLineEdit)
    Q_DISABLE_COPY(QtExSearchLineEdit)

/********************功能接口*****************************/

public:
    QString clearButtonHoverImage();
    void setClearButtonHoverImage(const QString& color);
    QString clearButtonPressImage();
    void setClearButtonPressImage(const QString& color);
    QColor searchButtonHoverBgColor();
    void setSearchButtonHoverBgColor(const QColor& color);
    QColor searchButtonPressBgColor();
    void setSearchButtonPressBgColor(const QColor& color);
public:
    enum SearchMode {
        SearchMode_NoListView = 0,
        SearchMode_Simple,                  //简单模式：下拉面板展示model中的数据不做调整
        SearchMode_AddSerialNumber,         //添加序列号模式：自动给每个Item前添加序号，序号从1开始
        SearchMode_MatchPrefixBoldOther,    //匹配加粗模式：根据搜素框输入内容与item文本进行匹配，匹配开头部分时，除匹配部分外的其他部分加粗显示
        SearchMode_HightLightFilterText,    //匹配高亮模式：根据搜素框输入内容与item文本进行匹配，匹配部分进行高亮显示
    };
public:
    //设置文本
    void setText(const QString& text);
    //设置下拉面板缺省页面是否展示
    void setDefaultViewVisible(bool visible);
    void setDefaultViewText(const QString& text);
    // 设置/获取下拉listview
    void setListView(QtExDropListView* view);
    QtExDropListView* getListView();
    //设置model后，对item项的操作接口才会生效
    void setViewModel(QStandardItemModel* model);
    //Item项的相关操作（核心）
    void addItem(const QString& text);
    void insertItem(int index, const QString& text);
    void removeItem(int index);
    void removeItems(int begin, int count);
    int itemCount();
    void setItemEnable(int index, bool enabel);
    //设置下拉listview显示的最大item数量
    void setMaxItemCount(int count);
    //提示文本相关设置
    void setPlaceholderText(const QString& text);
    void setPlaceholderLeftMargin(int length);
    //设置/获取当前项
    void setCurrentIndex(int index);
    int currentIndex();
    //清空
    void clear();
    //获取内部lineedit
    QtExLineEdit* lineEdit();
    //设置lineedit最大长度
    void setLineEditMaxLength(int length);
    //隐藏下拉listview
    void hideDropListView();
    //获取清空/搜索按钮指针
    QtExPushButton* clearButton();
    QtExPushButton* searchButton();
    //设置搜索模式（核心）
    void setSearchMode(SearchMode mode);
signals:
    void signalClearButtonClicked();
    // 搜索按钮点击信号，回车按下时也会触发
    void signalSearchButtonClicked();
    void signalTextChanged(const QString& text);
    //SearchMode_Simple模式下，index为选中项的index，text为选中项文本；其他模式下，index默认为-1，text为搜索框文本
    void signalViewItemSelected(int index, const QString& text);
protected:
    void mousePressEvent(QMouseEvent* event) override;
    void resizeEvent(QResizeEvent* event) override;
    void focusInEvent(QFocusEvent* event) override;
    bool eventFilter(QObject* target, QEvent* event) override;
    void keyPressEvent(QKeyEvent* event) override;

};


}
#endif //QTEXSEARCHLINEEDIT_H
