#include "QtExProgressBar.h"
#include "QtExProgressBar_p.h"
#include <QPainter>
#include <math.h>
#include <QPainterPath>
#include <QStyleOptionProgressBar>
#include <QtMath>
#include <QEvent>


namespace QtExControl{


/**********QtExRingProgressBar************************************************************************************/

QtExRingProgressBarPrivate::QtExRingProgressBarPrivate() :QObjectData()
{
}
void QtExRingProgressBarPrivate::init()
{
    Q_Q(QtExRingProgressBar);
    m_textLabel = new(std::nothrow) QLabel(q);
    if (m_textLabel)
    {
        m_textLabel->setText("0%");
        m_textLabel->setAlignment(Qt::AlignCenter);
        m_textLabel->setAttribute(Qt::WA_TranslucentBackground);
    }
}
void QtExRingProgressBarPrivate::adjustTextLabelPosition()
{
    Q_Q(QtExRingProgressBar);

    if (m_textLabel)
    {
        m_textLabel->adjustSize();
        //直径：圆环紧贴widget左上角绘制
        qreal ringDiameter = q->height();
        if (q->width() < q->height())
        {
            ringDiameter = q->width();
        }
        m_textLabel->move(ringDiameter / 2 - m_textLabel->width() / 2, ringDiameter / 2 - m_textLabel->height() / 2);
    }
}

/******************************/

QtExRingProgressBar::QtExRingProgressBar(QWidget *parent)
    : QWidget(parent)
    , d_ptr(new QtExRingProgressBarPrivate)
{
    Q_D(QtExRingProgressBar);
    d_ptr->q_ptr = this;
    d->init();
}
QtExRingProgressBar::QtExRingProgressBar(QtExRingProgressBarPrivate &dd, QWidget* parent)
    : QWidget(parent)
    , d_ptr(&dd)
{
    Q_D(QtExRingProgressBar);
    d_ptr->q_ptr = this;
    d->init();
}
QtExRingProgressBar::~QtExRingProgressBar()
{
}

QColor QtExRingProgressBar::progressColor()
{
    Q_D(QtExRingProgressBar);
    return d->m_progressColor;
}
void QtExRingProgressBar::setProgressColor(const QColor& color)
{
    Q_D(QtExRingProgressBar);
    d->m_progressColor = color;
}
QColor QtExRingProgressBar::progressBackgroundColor()
{
    Q_D(QtExRingProgressBar);
    return d->m_progressBackgroundColor;
}
void QtExRingProgressBar::setProgressBackgroundColor(const QColor& color)
{
    Q_D(QtExRingProgressBar);
    d->m_progressBackgroundColor = color;
}

void QtExRingProgressBar::setTextLabelVisible(bool visible)
{
    Q_D(QtExRingProgressBar);
    if (d->m_textLabel)
    {
        if (visible)
        {
            d->m_textLabel->show();
        }
        else
        {
            d->m_textLabel->hide();
        }
    }
    update();
}
void QtExRingProgressBar::setStartAngle(int angle)
{
    Q_D(QtExRingProgressBar);
    d->m_startAngle = angle;
}
void QtExRingProgressBar::setRingWidth(int width)
{
    Q_D(QtExRingProgressBar);
    if (width >= 0)
        d->m_ringWidth = width;

    update();
}
void QtExRingProgressBar::setDrawRadiusEnable(bool enable)
{
    Q_D(QtExRingProgressBar);
    d->m_drawRadius = enable;
    update();
}
void QtExRingProgressBar::setProgressValue(float value)
{
    Q_D(QtExRingProgressBar);

    if (value > 100)
    {
        value = 100;
    }
    else if (value < 0)
    {
        value = 0;
    }

    //进度条默认按照顺时针方向增加，所以这里要处理成负角度
    d->m_angleLength = -(value / 100 * 360);

    //进行中心文本的更新显示
    if (d->m_textLabel)
    {
        QString str = QString("%1%").arg(QString::number((int)value));
        if (value - int(value) >= 0.01)
        {
            str = QString("%1%").arg(QString::number(value, 'f', 2));
        }
        d->m_textLabel->setText(str);
    }

    d->adjustTextLabelPosition();
    update();
}
float QtExRingProgressBar::getProgressValue()
{
    Q_D(QtExRingProgressBar);
    float value = (-d->m_angleLength) / 360 * 100;
    return value;
}

void QtExRingProgressBar::resizeEvent(QResizeEvent* event)
{
    Q_D(QtExRingProgressBar);

    QWidget::resizeEvent(event);
    d->adjustTextLabelPosition();
}
void QtExRingProgressBar::paintEvent(QPaintEvent* event)
{
    Q_D(QtExRingProgressBar);
    QPainter painter(this);

    painter.save();
    painter.setRenderHints(QPainter::Antialiasing);

    //计算圆环半径
    qreal ringRadius = height() / 2;
    if (width() < height())
    {
        ringRadius = width() / 2;
    }

    //定义圆环外接矩形，进行默认环背景的绘制
    QRectF ringRect(0, 0, ringRadius * 2, ringRadius * 2);
    //定义径向渐变，中心点为圆心，半径为圆环半径，焦点也为圆心
    QRadialGradient rg(QPointF(ringRadius, ringRadius), ringRadius, QPointF(ringRadius, ringRadius));
    rg.setColorAt(0, Qt::transparent);
    rg.setColorAt((ringRadius - d->m_ringWidth) / ringRadius, Qt::transparent);
    rg.setColorAt((ringRadius - d->m_ringWidth + 1) / ringRadius, progressBackgroundColor());
    rg.setColorAt(1, progressBackgroundColor());
    painter.setBrush(rg);
    painter.setPen(QPen(Qt::NoBrush, 0));
    painter.drawEllipse(ringRect);

    //判断进度扫掠的角度值是否为非零，非零才进行绘制
    if (d->m_angleLength > d->m_MaxZeroValue || d->m_angleLength < d->m_MinZeroValue)
    {
        //1，从起始角度到扫掠角度的外侧圆弧路径
        QPainterPath path;
        qreal startX = ringRadius + ringRadius * cos(d->m_startAngle / 180.0 * d->m_PIValue);
        qreal startY = ringRadius - ringRadius * sin(d->m_startAngle / 180.0 * d->m_PIValue);
        path.moveTo(startX, startY);
        path.arcTo(ringRect, d->m_startAngle, d->m_angleLength);
        //绘制圆角
        if (d->m_drawRadius)
        {
            //计算圆心和绘制圆的rect区域
            qreal x = ringRadius + (ringRadius - d->m_ringWidth / 2) * cos((d->m_startAngle + d->m_angleLength) / 180.0 * d->m_PIValue);
            qreal y = ringRadius - (ringRadius - d->m_ringWidth / 2) * sin((d->m_startAngle + d->m_angleLength) / 180.0 * d->m_PIValue);
            ringRect = QRectF(x - d->m_ringWidth / 2, y - d->m_ringWidth / 2, d->m_ringWidth, d->m_ringWidth);
            painter.setBrush(QBrush(progressColor()));
            painter.drawEllipse(ringRect);
        }
        //2，从外侧圆弧径向到内测圆弧
        qreal x = ringRadius + (ringRadius - d->m_ringWidth) * cos((d->m_startAngle + d->m_angleLength) / 180.0 * d->m_PIValue);
        qreal y = ringRadius - (ringRadius - d->m_ringWidth) * sin((d->m_startAngle + d->m_angleLength) / 180.0 * d->m_PIValue);
        path.lineTo(x, y);
        //内测圆的矩形区域
        ringRect = QRectF(d->m_ringWidth, d->m_ringWidth, 2 * (ringRadius - d->m_ringWidth), 2 * (ringRadius - d->m_ringWidth));
        //3，从扫掠角度到起始角度的内侧圆弧路径
        path.arcTo(ringRect, d->m_startAngle + d->m_angleLength, -d->m_angleLength);
        //绘制圆角
        if (d->m_drawRadius)
        {
            //计算圆心和绘制圆的rect区域
            qreal x = ringRadius + (ringRadius - d->m_ringWidth / 2) * cos(d->m_startAngle / 180.0 * d->m_PIValue);
            qreal y = ringRadius - (ringRadius - d->m_ringWidth / 2) * sin(d->m_startAngle / 180.0 * d->m_PIValue);
            ringRect = QRectF(x - d->m_ringWidth / 2, y - d->m_ringWidth / 2, d->m_ringWidth, d->m_ringWidth);
            painter.setBrush(QBrush(progressColor()));
            painter.drawEllipse(ringRect);
        }
        //4，闭合路径
        path.lineTo(startX, startY);
        painter.fillPath(path, QBrush(progressColor()));

    }

    painter.restore();

    QWidget::paintEvent(event);

}








/**********QtExLinearProgressBar************************************************************************************/

QtExLinearProgressBarPrivate::QtExLinearProgressBarPrivate() :QObjectData()
{
}
void QtExLinearProgressBarPrivate::init()
{
    Q_Q(QtExLinearProgressBar);

    q->installEventFilter(q);
    q->setRange(0, 100000);
    q->setFormat("");

    m_textLabel = new(std::nothrow) QtExLabel(q);
    if (nullptr != m_textLabel)
    {
        m_textLabel->setFixedHeight(18);
        m_textLabel->setMaximumWidth(98);
        m_textLabel->setText("0%");
        m_textLabel->setObjectName(QStringLiteral("textLabel"));
    }

    m_horLayout = new(std::nothrow) QHBoxLayout(q);
    if (nullptr != m_horLayout)
    {
        QSpacerItem* lpSpacer = new(std::nothrow) QSpacerItem(20, 20, QSizePolicy::Expanding, QSizePolicy::Expanding);
        m_horLayout->addItem(lpSpacer);
        m_horLayout->addWidget(m_textLabel);
        m_horLayout->setSpacing(0);
        m_horLayout->setMargin(0);
        q->setLayout(m_horLayout);
    }

    //动效定时器
    m_dynamicTimer = new (std::nothrow) QTimer(q);
    if (nullptr != m_dynamicTimer)
    {
        q->connect(m_dynamicTimer, &QTimer::timeout, q, [=]()
            {
                onDynamicTimeOut();
            }, Qt::UniqueConnection);
    }

    //等待定时器
    m_waitingTimer = new (std::nothrow) QTimer(q);
    if (nullptr != m_waitingTimer)
    {
        q->connect(m_waitingTimer, &QTimer::timeout, q, [=]()
            {
                onWaitingTimeOut();
            }, Qt::UniqueConnection);
    }

}
void QtExLinearProgressBarPrivate::updateProgressBar()
{
    Q_Q(QtExLinearProgressBar);
    //1，计算圆角半径
    int iRadius = 0;
    if (m_isProgressRadiusVisible)
    {
        iRadius = m_linearWidth / 2;
    }
    //2，计算文本尺寸以及上下边距
    int fixHeight = 0;
    m_textLabel->adjustSize();
    QFontMetrics fm(m_textLabel->font());
    QRect rc = fm.boundingRect(QRect(0, 0, 98, 1024), Qt::TextWordWrap, m_textLabel->text());
    m_textLabel->setFixedSize(rc.size());
    if (m_textLabel->height() > 24)
    {
        fixHeight = m_textLabel->height();
        if (fixHeight > m_maxHeight)
        {
            m_textLabel->setFixedHeight(m_maxHeight);
            fixHeight = m_maxHeight;
        }
    }
    else
    {
        fixHeight = 24 > m_maxHeight ? m_maxHeight : 24;
    }
    q->setFixedHeight(fixHeight);
    int verticalMargin = (fixHeight - m_linearWidth) / 2;
    //3，计算右边距
    int rightMargin = 0;
    if (m_isTextLabelVisible)
    {
        rightMargin = m_textLabel->width() + 8;
    }
    //4，设置样式表
    QString qsStyleSheet;
    if (q->layoutDirection() == Qt::RightToLeft)
    {
        qsStyleSheet = QString("QtExControl--QtExLinearProgressBar{margin-left: %1px;margin-bottom: %2px;margin-top: %3px; \
                    border-radius:%4px;background: %5;}").arg(rightMargin).arg(verticalMargin).arg(verticalMargin).arg(iRadius)
            .arg(q->progressBackgroundColor().name(QColor::HexArgb));
    }
    else
    {
        qsStyleSheet = QString("QtExControl--QtExLinearProgressBar{margin-right: %1px;margin-bottom: %2px;margin-top: %3px; \
                    border-radius:%4px;background: %5;}").arg(rightMargin).arg(verticalMargin).arg(verticalMargin).arg(iRadius)
            .arg(q->progressBackgroundColor().name(QColor::HexArgb));
    }

    //避免改变样式导致属性值修改失效，所以在样式表中再次设置属性值
    qsStyleSheet += "QtExControl--QtExLinearProgressBar{";
    if (q->progressColor().isValid())
    {
        qsStyleSheet += QString("qproperty-m_progressColor: %1;").arg(q->progressColor().name(QColor::HexArgb));
    }
    if (q->progressBackgroundColor().isValid())
    {
        qsStyleSheet += QString("qproperty-m_progressBackgroundColor: %1;").arg(q->progressBackgroundColor().name(QColor::HexArgb));
    }
    qsStyleSheet += "}";

    qsStyleSheet += QString("QtExControl--QtExLinearProgressBar::chunk{border-radius:%1px;background-color: %2;}").
        arg(iRadius).arg(q->progressColor().name(QColor::HexArgb));

    q->setStyleSheet(qsStyleSheet);
    m_horLayout->setMargin(0);

}
void QtExLinearProgressBarPrivate::startDynamicEffect()
{
    Q_Q(QtExLinearProgressBar);

    if (nullptr == m_dynamicTimer)
    {
        return;
    }

    //未启用直接返回
    if (!m_isDynamicEffectEnable)
    {
        m_dynamicTimer->stop();
        return;
    }
    //进度未到达开启值，直接返回
    if (q->getProgressValue() < m_startDynamicEffectPercent)
    {
        m_dynamicTimer->stop();
        return;
    }

    //判断定时器是否处于运行中，避免多次开启
    if (!m_dynamicTimer->isActive())
    {
        QStyleOptionProgressBar opt;
        q->initStyleOption(&opt);
        QRect controlRect = opt.rect;
        opt.rect = q->style()->subElementRect(QStyle::SE_ProgressBarContents, &opt, q);
        QRect chunkRect = calculateProgressChunkRect(&opt);
        qint64 dynamicEffectWidth = chunkRect.width() / 4;

        if (q->layoutDirection() == Qt::RightToLeft)
        {
            m_dynamicEffectPoistion = controlRect.width() + dynamicEffectWidth;
        }
        else
        {
            m_dynamicEffectPoistion = -dynamicEffectWidth;
        }
        m_dynamicTimer->start(10);
    }

}
QRect QtExLinearProgressBarPrivate::calculateProgressChunkRect(QStyleOptionProgressBar* pb)
{
    Q_Q(QtExLinearProgressBar);

    qint64 minimum = qint64(pb->minimum);
    qint64 maximum = qint64(pb->maximum);
    qint64 progress = qint64(pb->progress);

    QRect rect = pb->rect;
    const auto fillRatio = pb->minimum == pb->maximum ? 0.50 : double(progress - minimum) / (maximum - minimum);
    int chunkWidth = static_cast<int>(rect.width() * fillRatio);
    rect.setWidth(chunkWidth);
    return rect;

}
void QtExLinearProgressBarPrivate::onDynamicTimeOut()
{
    Q_Q(QtExLinearProgressBar);

    QStyleOptionProgressBar opt;
    q->initStyleOption(&opt);
    QRect controlRect = opt.rect;
    opt.rect = q->style()->subElementRect(QStyle::SE_ProgressBarContents, &opt, q);
    QRect chunkRect = calculateProgressChunkRect(&opt);
    qreal dynamicEffectWidth = (double)chunkRect.width() / 4;
    int stepLength = 1;

    if (opt.direction == Qt::RightToLeft) {

        m_dynamicEffectPoistion -= stepLength;
        if (m_dynamicEffectPoistion <= controlRect.width() - chunkRect.width() - dynamicEffectWidth)
        {
            m_dynamicEffectPoistion = controlRect.width() + dynamicEffectWidth;
        }
    }
    else
    {
        m_dynamicEffectPoistion += stepLength;
        if (m_dynamicEffectPoistion >= chunkRect.width() + dynamicEffectWidth)
        {
            m_dynamicEffectPoistion = -dynamicEffectWidth;
        }
    }
    q->update();
}
void QtExLinearProgressBarPrivate::paintDynamicEffect(QPainter* painter)
{
    Q_Q(QtExLinearProgressBar);

    if (nullptr == painter) 
    {
        return;
    }

    //计算动效宽度
    QStyleOptionProgressBar opt;
    q->initStyleOption(&opt);
    QRect controlRect = opt.rect;
    opt.rect = q->style()->subElementRect(QStyle::SE_ProgressBarContents, &opt, q);
    QRect chunkRect = calculateProgressChunkRect(&opt);
    qint64 dynamicEffectWidth = chunkRect.width() / 4;


    //开始绘制
    painter->save();
    painter->setClipRect(opt.rect);
    painter->setRenderHint(QPainter::Antialiasing);
    painter->setPen(QPen(Qt::NoPen));
    //动效圆角，适配进度条圆角
    int iRadius = 0;
    if (m_isProgressRadiusVisible)
    {
        iRadius = m_linearWidth / 2;
    }
    //画背景
    painter->setBrush(QBrush(m_dynamicEffectBgColor));
    painter->drawRoundedRect(chunkRect, iRadius, iRadius);
    //画渐变,从动效位置点左右两侧各dynamicEffectWidth的范围内进行渐变，形成一个动态移动的高亮效果
    QLinearGradient linear(QPointF(m_dynamicEffectPoistion - dynamicEffectWidth, 0), QPointF(m_dynamicEffectPoistion + dynamicEffectWidth, 0));
    linear.setColorAt(0, m_dynamicEffectBgColor);
    linear.setColorAt(0.5, m_dynamicEffectMidColor);
    linear.setColorAt(1, m_dynamicEffectBgColor);
    linear.setSpread(QGradient::PadSpread);
    painter->setBrush(linear);

    //绘制的渐变区域
    QRect slider(m_dynamicEffectPoistion - dynamicEffectWidth, chunkRect.y(), 2 * dynamicEffectWidth, chunkRect.height());
    //进行绘制渐变区域的裁剪：主要是处理在进度首尾时，动效绘制不会超过已完成进度块的范围，保持动效始终在已完成进度块内绘制
    if (opt.direction == Qt::RightToLeft) 
    {
        if (m_dynamicEffectPoistion < controlRect.width() - chunkRect.width() + dynamicEffectWidth)
        {
            slider.setX(controlRect.width() - chunkRect.width());
            painter->drawRoundedRect(slider, iRadius, iRadius);
        }
        else if (m_dynamicEffectPoistion > controlRect.width() - dynamicEffectWidth)
        {
            slider.setWidth(controlRect.width() - m_dynamicEffectPoistion + dynamicEffectWidth);
            painter->drawRoundedRect(slider, iRadius, iRadius);
        }
        else
        {
            painter->drawRoundedRect(slider, iRadius, iRadius);
        }
    }
    else 
    {

        if (m_dynamicEffectPoistion < dynamicEffectWidth)
        {
            slider.setX(0);
            painter->drawRoundedRect(slider, iRadius, iRadius);
        }
        else if (m_dynamicEffectPoistion > chunkRect.width() - dynamicEffectWidth)
        {
            slider.setWidth(chunkRect.width() - m_dynamicEffectPoistion + dynamicEffectWidth);
            painter->drawRoundedRect(slider, iRadius, iRadius);
        }
        else
        {
            painter->drawRoundedRect(slider, iRadius, iRadius);
        }
    }
    //绘制结束
    painter->restore();

}
void QtExLinearProgressBarPrivate::onWaitingTimeOut()
{
    Q_Q(QtExLinearProgressBar);

    QStyleOptionProgressBar opt;
    q->initStyleOption(&opt);
    QRect bgRect = opt.rect;

    if (q->layoutDirection() == Qt::RightToLeft)
    {
        m_waitingSliderPoistion -= 2;
        if (m_waitingSliderPoistion <= -m_waitingSliderWidth / 2)
        {
            m_waitingSliderPoistion = q->width() + m_waitingSliderWidth / 2;
        }
    }
    else
    {
        m_waitingSliderPoistion += 2;
        if (m_waitingSliderPoistion >= q->width() + m_waitingSliderWidth / 2)
        {
            m_waitingSliderPoistion = -m_waitingSliderWidth / 2;
        }
    }

    q->update();

}
void QtExLinearProgressBarPrivate::paintWaitingEffect(QPainter* painter)
{
    Q_Q(QtExLinearProgressBar);

    if (nullptr == painter)
    {
        return;
    }

    //计算动效宽度
    QStyleOptionProgressBar opt;
    q->initStyleOption(&opt);

    painter->save();
    painter->setClipRect(opt.rect);
    painter->setRenderHint(QPainter::Antialiasing);
    painter->setPen(QPen(Qt::NoPen));
    //适配进度条圆角
    int iRadius = 0;
    if (m_isProgressRadiusVisible)
    {
        iRadius = m_linearWidth / 2;
    }
    //绘制背景区域，注意：这里需要全量区域不仅仅是SE_ProgressBarContents的宽度区域
    QRect bgRect = q->style()->subElementRect(QStyle::SE_ProgressBarContents, &opt, q);
    bgRect.setWidth(opt.rect.width());
    painter->setBrush(QBrush(m_progressBackgroundColor));
    painter->drawRoundedRect(bgRect, iRadius, iRadius);

    //绘制等待滑块
    QRect slider(m_waitingSliderPoistion - m_waitingSliderWidth / 2, bgRect.y(), m_waitingSliderWidth, bgRect.height());

    if (m_waitingSliderPoistion < m_waitingSliderWidth / 2)
    {
        slider.setX(0);
        painter->drawRoundedRect(slider, iRadius, iRadius);
    }
    else if (m_waitingSliderPoistion > bgRect.width() - m_waitingSliderWidth / 2)
    {
        slider.setWidth(bgRect.width() - m_waitingSliderPoistion + m_waitingSliderWidth / 2);
        painter->drawRoundedRect(slider, iRadius, iRadius);
    }
    else
    {
        painter->drawRoundedRect(slider, iRadius, iRadius);
    }

    painter->setBrush(QBrush(QColor(m_progressColor)));
    painter->drawRoundedRect(slider, iRadius, iRadius);
    
    //绘制结束
    painter->restore();

}

/******************************/

QtExLinearProgressBar::QtExLinearProgressBar(QWidget* parent)
    : QProgressBar(parent)
    , d_ptr(new QtExLinearProgressBarPrivate)
{
    Q_D(QtExLinearProgressBar);
    d_ptr->q_ptr = this;
    d->init();
}
QtExLinearProgressBar::QtExLinearProgressBar(QtExLinearProgressBarPrivate& dd, QWidget* parent)
    : QProgressBar(parent)
    , d_ptr(&dd)
{
    Q_D(QtExLinearProgressBar);
    d_ptr->q_ptr = this;
    d->init();
}
QtExLinearProgressBar::~QtExLinearProgressBar()
{
}

QColor QtExLinearProgressBar::progressColor()
{
    Q_D(QtExLinearProgressBar);
    return d->m_progressColor;
}
void QtExLinearProgressBar::setProgressColor(const QColor& color)
{
    Q_D(QtExLinearProgressBar);
    d->m_progressColor = color;
}
QColor QtExLinearProgressBar::progressBackgroundColor()
{
    Q_D(QtExLinearProgressBar);
    return d->m_progressBackgroundColor;
}
void QtExLinearProgressBar::setProgressBackgroundColor(const QColor& color)
{
    Q_D(QtExLinearProgressBar);
    d->m_progressBackgroundColor = color;
}

void QtExLinearProgressBar::setLinearWidth(int width)
{
    Q_D(QtExLinearProgressBar);
    if (width < 1)
    {
        width = 1;
    }
    else if (width > d->m_maxHeight)
    {
        width = d->m_maxHeight;
    }
    d->m_linearWidth = width;
    d->updateProgressBar();
}
void QtExLinearProgressBar::setProgressRadiusVisible(bool visible)
{
    Q_D(QtExLinearProgressBar);
    d->m_isProgressRadiusVisible = visible;
    d->updateProgressBar();
}
void QtExLinearProgressBar::setMaxHeight(int height)
{
    Q_D(QtExLinearProgressBar);
    d->m_maxHeight = height;
}
void QtExLinearProgressBar::setTextLabelVisible(bool visible)
{
    Q_D(QtExLinearProgressBar);

    d->m_isTextLabelVisible = visible;
    if (visible)
    {
        if (!d->m_isInWaitingMode)
        {
            d->m_textLabel->show();
        }
    }
    else
    {
        d->m_textLabel->hide();
    }
    update();
}
void QtExLinearProgressBar::setTextLabelContent(QString text)
{
    Q_D(QtExLinearProgressBar);
    if (nullptr != d->m_textLabel)
    {
        d->m_textLabel->setText(text);
    }
    d->updateProgressBar();
}
void QtExLinearProgressBar::setProgressValue(float percentage)
{
    Q_D(QtExLinearProgressBar);

    if ((maximum() - minimum()) <= 0)
    {
        return;
    }

    if (percentage > 100)
    {
        percentage = 100;
    }
    else if (percentage < 0)
    {
        percentage = 0;
    }
    float value = percentage * 1.0 * (maximum() - minimum()) / 100.0;
    setValue(value);

    value = (this->value() * 1.0) / (maximum() - minimum()) * 100.0;

    if (nullptr != d->m_textLabel)
    {
        if (value - int(value) >= 0.001)
        {
            d->m_textLabel->setText(QString::number(value, 'f', 2) + "%");
        }
        else
        {
            d->m_textLabel->setText(QString::number((int)value) + "%");
        }
    }
    d->updateProgressBar();
    d->startDynamicEffect();
}
float QtExLinearProgressBar::getProgressValue()
{
    if ((maximum() - minimum()) <= 0)
    {
        return 0;
    }
    float percentage = (this->value() * 1.0) / (maximum() - minimum()) * 100.0;
    return percentage;
}
void QtExLinearProgressBar::setDynamicEffectBgColor(const QColor& color)
{
    Q_D(QtExLinearProgressBar);
    d->m_dynamicEffectBgColor = color;
}
void QtExLinearProgressBar::setDynamicEffectMidColor(const QColor& color)
{
    Q_D(QtExLinearProgressBar);
    d->m_dynamicEffectMidColor = color;
}
void QtExLinearProgressBar::setDynamicEffectEnable(bool enable, float value)
{
    Q_D(QtExLinearProgressBar);

    d->m_isDynamicEffectEnable = enable;
    d->m_startDynamicEffectPercent = value;
    d->startDynamicEffect();



}
void QtExLinearProgressBar::setWaitingModeEnable(bool enable)
{
    Q_D(QtExLinearProgressBar);

    d->m_isInWaitingMode = enable;
    if (enable)
    {
        d->m_textLabel->hide();

        if (layoutDirection() == Qt::RightToLeft)
        {

            d->m_waitingSliderPoistion = width() + d->m_waitingSliderWidth / 2;
        }
        else
        {
            d->m_waitingSliderPoistion = -d->m_waitingSliderWidth / 2;
        }

        d->m_waitingTimer->start(10);
    }
    else
    {
        d->m_waitingTimer->stop();
        if (d->m_isTextLabelVisible)
        {
            d->m_textLabel->show();
        }
    }

    update();
}

bool QtExLinearProgressBar::eventFilter(QObject* target, QEvent* event)
{
    Q_D(QtExLinearProgressBar);
    if (target == this)
    {
        if (QEvent::LayoutDirectionChange == event->type())
        {
            d->updateProgressBar();
            if (d->m_textLabel)
            {
                if (layoutDirection() == Qt::RightToLeft)
                {
                    d->m_textLabel->setAlignment(Qt::AlignRight);
                }
                else
                {
                    d->m_textLabel->setAlignment(Qt::AlignLeft);
                }
            }
        }
        else if (QEvent::StyleChange == event->type())
        {
            if (!d->m_isUpdatingProgressBar)
            {
                d->m_isUpdatingProgressBar = true;
                d->updateProgressBar();
                d->m_isUpdatingProgressBar = false;
            }
        }
    }
    return QProgressBar::eventFilter(target, event);
}
void QtExLinearProgressBar::paintEvent(QPaintEvent* ev)
{
    Q_D(QtExLinearProgressBar);

    //等待模式，绘制等待
    if (d->m_isInWaitingMode)
    {
        QPainter painter(this);
        painter.save();
        d->paintWaitingEffect(&painter);
        painter.restore();
        return;
    }

    QProgressBar::paintEvent(ev);
    //动效模式，绘制动效
    if (nullptr != d->m_dynamicTimer && d->m_dynamicTimer->isActive())
    {
        QPainter painter(this);
        painter.save();
        d->paintDynamicEffect(&painter);
        painter.restore();
    }
}
void QtExLinearProgressBar::resizeEvent(QResizeEvent* event)
{
    Q_D(QtExLinearProgressBar);
    d->updateProgressBar();
    QProgressBar::resizeEvent(event);
}



}
