#ifndef QTEXPROGRESSBAR_P_H
#define QTEXPROGRESSBAR_P_H

#include <QtExWidgets/QtExProgressBar.h>
#include <QLabel>
#include <QTimer>
#include <QtExWidgets/QtExLabel.h>
#include <QHBoxLayout>

namespace QtExControl{


class QtExRingProgressBarPrivate : public QObjectData
{
    Q_DECLARE_PUBLIC(QtExRingProgressBar)
public:
    QtExRingProgressBarPrivate();
    ~QtExRingProgressBarPrivate() = default;
public:
    //进度条前景色（已填充部分）
    QColor m_progressColor;
    //进度条背景色（未填充部分）
    QColor m_progressBackgroundColor;

    QLabel* m_textLabel = nullptr;
    //圆环的宽度/厚度
    int m_ringWidth = 8;
    //起始角度，默认为90度，即从12点钟位置开始，逆时针方向为正向，顺时针方向为负向
    int m_startAngle = 90;
    //扫掠的角度值，默认为0，负值表示顺时针方向，正值表示逆时针方向
    qreal m_angleLength = 0;
    qreal m_MaxZeroValue = 0.000001;
    qreal m_MinZeroValue = -0.000001;
    qreal m_PIValue = 3.1415;
    //是否绘制进度的首尾圆角
    bool m_drawRadius = true;
public:
    void init();
    void adjustTextLabelPosition();

};




class CBusyProgressBarWidget;
class QtExLinearProgressBarPrivate : public QObjectData
{
    Q_DECLARE_PUBLIC(QtExLinearProgressBar)
public:
    QtExLinearProgressBarPrivate();
    ~QtExLinearProgressBarPrivate() = default;
public:
    //进度条前景色（已填充部分）
    QColor m_progressColor;
    //进度条背景色（未填充部分）
    QColor m_progressBackgroundColor;
    //进度文本
    QtExLabel* m_textLabel = nullptr;
    QHBoxLayout* m_horLayout = nullptr;
    //进度条的宽度/厚度
    int m_linearWidth = 8;
    //是否展示进度的首尾圆角
    bool m_isProgressRadiusVisible = true;
    int m_maxHeight = 24;
    //文本是否可见
    bool m_isTextLabelVisible = true;
    //是否正在更新进度条，避免样式改变事件的死循环
    bool m_isUpdatingProgressBar = false;
    //动效定时器
    QTimer* m_dynamicTimer = nullptr;
    //动效中间渐变色
    QColor m_dynamicEffectMidColor = QColor("#9907FBEF"); 
    //动效背景色
    QColor m_dynamicEffectBgColor = QColor("#2196F3");
    //动效是否可用
    bool m_isDynamicEffectEnable = false;
    //动效开启的最低进度值
    float m_startDynamicEffectPercent = 30;
    //动效块位置
    qint64 m_dynamicEffectPoistion = 0;
    //当前是否为等待模式
    bool m_isInWaitingMode = false;
    //等待定时器
    QTimer* m_waitingTimer = nullptr;
    //等待滑块位置
    qint64 m_waitingSliderPoistion = 0;
    //等待滑块宽度
    int m_waitingSliderWidth = 40;
public:
    void init();
    //更新进度条
    void updateProgressBar();
    //开启动效
    void startDynamicEffect();
    //计算进度条的已完成进度快的区域
    QRect calculateProgressChunkRect(QStyleOptionProgressBar* option);
    //响应动效定时器，更新动效位置
    void onDynamicTimeOut();
    //绘制动效
    void paintDynamicEffect(QPainter* painter);
    //响应等待定时器，更新等待效果位置
    void onWaitingTimeOut();
    //绘制等待效果
    void paintWaitingEffect(QPainter* painter);

};



}
#endif