#ifndef QTEXFILEFRAME_P_H
#define QTEXFILEFRAME_P_H

#include <QtExWidgets/QtExFileFrame.h>

namespace QtExControl{


class QtExFileFramePrivate :public QObjectData
{
    Q_DECLARE_PUBLIC(QtExFileFrame)
public:
    QtExFileFramePrivate();
    ~QtExFileFramePrivate() = default;
public:
    QtExLineEdit* m_lineEdit = nullptr;
    QtExPushButton* m_pushButton = nullptr;
    QHBoxLayout* m_hLayout = nullptr;
    QFileDialog::FileMode m_fileMode = QFileDialog::AnyFile;
    QString m_fileCaption = "";
    QString m_fileFilter = "";
    QString m_initFileDirectory = "";
    bool m_isEndBackslashVisible = true;
public:
    void init();
    void showFileDialog();

};


}

#endif
