#ifndef SECTION_WIDGET_H
#define SECTION_WIDGET_H

#include <QDebug>
#include <QPointer>
#include <QList>
#include <QFrame>
#include <QScrollArea>
class QBoxLayout;
class QStackedLayout;
class QPushButton;
class QMenu;

#include "ads/API.h"
#include "ads/Internal.h"
#include "ads/SectionContent.h"

ADS_NAMESPACE_BEGIN
class ContainerWidget;
class SectionTitleWidget;
class SectionContentWidget;

// SectionWidget manages multiple instances of SectionContent.
// It displays a title TAB, which is clickable and will switch to
// the contents associated to the title when clicked.
class ADS_EXPORT_API SectionWidget : public QFrame
{
	Q_OBJECT
	friend class ContainerWidget;
	explicit SectionWidget(ContainerWidget* parent);
public:
	virtual ~SectionWidget();

public:
    //添加内容
	void addContent(const InternalContentData& data, bool autoActivate);
	void addContent(const SectionContent::RefPtr& c);
	//提取内容
	bool takeContent(int uid, InternalContentData& data);

	int currentIndex() const;
	//调整 tab 顺序
	void moveContent(int from, int to);
	//找索引
	int indexOfContent(const SectionContent::RefPtr& c) const;
	int indexOfContentByUid(int uid) const;
	int indexOfContentByTitlePos(const QPoint& pos, QWidget* exclude = NULL) const;
	//顶部标题栏区域/内容显示区域的几何矩形
	QRect titleAreaGeometry() const;
	QRect contentAreaGeometry() const;
	//获取内部参数
	int uid() const;
	ContainerWidget* containerWidget() const;
	const QList<SectionContent::RefPtr>& contents() const { return _contents; }
public slots:
	//切换当前活动 tab
	void setCurrentIndex(int index);
protected:
	virtual void showEvent(QShowEvent*);
private slots:
	void onCloseButtonClicked();
	void updateTabsMenu();
	void onTabsMenuActionTriggered(bool);
	void onSectionTitleClicked();
private:
	static int GetNextUid();
private:
	const int _uid;

	QPointer<ContainerWidget> _container;
	QList<SectionContent::RefPtr> _contents;
	QList<SectionTitleWidget*> _sectionTitles;
	QList<SectionContentWidget*> _sectionContents;

	/*
	SectionWidget
  └─ outer vertical layout
      ├─ top layout
      │   ├─ tabsScrollArea
      │   │   └─ tabsContainerWidget
      │   │       └─ tabsLayout
      │   │           ├─ title1
      │   │           ├─ title2
      │   │           ├─ ...
      │   │           └─ stretch
      │   ├─ tabsMenuButton
      │   └─ closeButton
      └─ contentsLayout (QStackedLayout)
          ├─ content1
          ├─ content2
          └─ ...
	*/
	QBoxLayout* _topLayout;
	QScrollArea* _tabsScrollArea;
	QWidget* _tabsContainerWidget;
	QBoxLayout* _tabsLayout;
	QPushButton* _tabsMenuButton;
	QPushButton* _closeButton;
	int _tabsLayoutInitCount; // used for calculations on _tabsLayout modification calls.
	QStackedLayout *_contentsLayout;

	QPoint _mousePressPoint;
	SectionContent::RefPtr _mousePressContent;
	SectionTitleWidget* _mousePressTitleWidget;

};

/* Custom scrollable implementation for tabs */
class SectionWidgetTabsScrollArea : public QScrollArea
{
public:
	SectionWidgetTabsScrollArea(SectionWidget* sectionWidget, QWidget* parent = NULL);
	virtual ~SectionWidgetTabsScrollArea();

protected:
	virtual void wheelEvent(QWheelEvent*);
};

ADS_NAMESPACE_END
#endif
