#pragma once

#include "ui_SliderView.h"
#include <ViewInterface.h>

using namespace QtExControl;

class SliderView : public ViewInterface
{
    Q_OBJECT

public:
    SliderView(QWidget *parent = Q_NULLPTR);
    ~SliderView();
private:
    void init();
private:
    Ui::SliderView ui;


};
